<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>yuva-app</title>
    <meta name="theme-color" content="#ffb628">
    <%- include('include/links.ejs') %>

</head>

<body>
    <div class="d-flex justify-content-end"><img src="/assets/img/bg-yuva1.svg"></div>
    <h1 class="text-center" style="color: #292929;text-align: center;-webkit-text-stroke-width: 6.815278053283691;-webkit-text-stroke-color: #FFF;font-family: &quot;Google Sans&quot;;font-size: 32px;font-style: normal;font-weight: 500;line-height: normal;">Signup</h1>
    <div class="card page-card" style="border-style: none;">
        <div class="card-body">
            <div>
                <form>
                    <div class="row input-field-group">
                        <div class="col d-grid" style="margin: 7px;"><label class="form-label form-label-page">Name</label><input class="form-control form-input-page" type="text" placeholder="yourname@mail.com"></div>
                    </div>
                    <div class="row input-field-group">
                        <div class="col d-grid" style="margin: 7px;"><label class="form-label form-label-page">Email</label><input class="form-control form-input-page" type="text" placeholder="yourname@mail.com"></div>
                    </div>
                    <div class="row input-field-group">
                        <div class="col d-grid" style="margin: 7px;"><label class="form-label form-label-page">Gender</label><select class="form-select form-input-page">
                                <optgroup label="This is a group">
                                    <option value="12" selected="">This is item 1</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </optgroup>
                            </select></div>
                    </div>
                    <div class="row input-field-group">
                        <div class="col d-grid" style="margin: 7px;"><label class="form-label form-label-page">Password</label><input class="form-control form-input-page" type="text" placeholder="************"></div>
                    </div>
                </form>
            </div>
            <div class="mx-auto my-3" style="width: fit-content;"><button class="btn btn-dark button-page" type="button" style="border-radius: 33.68px;border: 0.746px solid rgba(78, 78, 78, 0.10);background: #000;width: 113.625px;">Login</button></div>
            <p style="color: #676767;text-align: center;font-family: &quot;Google Sans&quot;;font-size: 10.94px;font-style: normal;font-weight: 400;line-height: normal;">Don’t have an Account ?&nbsp;&nbsp;<span style="color: #FFB627;font-family: &quot;Google Sans&quot;;font-size: 10.94px;font-style: normal;font-weight: 700;line-height: normal;">Signup</span></p>
        </div>
    </div>
    <div><img class="fixed-bottom" width="198" height="188" src="/assets/img/bg-yuva2.svg"></div>
    <%- include('include/scripts.ejs') %>


</body>

</html>
