<div class="fixed-bottom bottom-page-nav">
    <ul class="nav nav-fill">
        <li class="nav-item"><a class="nav-link" href="#">
                <div><img src="/assets/img/Home.svg" width="25" height="24">
                    <p class="nav-link-page">Hub</p>
                </div>
            </a></li>
        <li class="nav-item nav-link-page"><a class="nav-link nav-link-page" href="#">
                <div class="nav-link-page"><img src="/assets/img/ri_bard-line.svg" width="28" height="26">
                    <p class="nav-link-page">Yu-Ai</p>
                </div>
            </a></li>
        <li class="nav-item"><a class="nav-link" href="#">
                <div><img src="/assets/img/bi_people-fill.svg" width="25" height="24">
                    <p class="nav-link-page">Connect</p>
                </div>
            </a></li>
        <li class="nav-item"><a class="nav-link" href="#">
                <div><img src="/assets/img/profile.jpeg" width="25" height="24" style="border-radius: 87px;border-style: solid;border-color: rgb(223,235,254);">
                    <p class="nav-link-page">Profile</p>
                </div>
            </a></li>
    </ul>
</div>
