<nav class="navbar navbar-expand-md bg-body position-sticky" style="border: 1px solid #DCDCDC;background: #FFF;box-shadow: 0px -3px 10px 8px rgba(199, 199, 199, 0.25);/*width: 360px;*/height: 55px;flex-shrink: 0;">
    <div class="container-fluid"><img class="yuva-nav-logo" src="../public/assets/img/yuva-logo.svg"></div>
</nav><!-- Start: 1 Row 2 Columns -->
